@import url('http://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  /* gap: 30px; */
  background: linear-gradient(to right, #00c6ff 0%, #0072ff 100%);
}

.form-style {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  height: 80%;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 30px;
}

.custom-btn {
  width: 200px;
  height: 80px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.btn-style {
  border: none;
  color: #000;
}
.btn-style:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: 1;
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}
.btn-style:hover {
  color: #000;
}
.btn-style:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}
.btn-style:active {
  top: 2px;
}